@import './variables';



.front {
    min-height: 100vh;
    width: 100%;
    padding: 15rem 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    gap: 5rem;
    visibility: hidden;
    position: relative;
    
    @include xl {
        padding: 25rem 0;
    }

    @include sm {
        padding: 20rem 0;
    }
    

    h2 {
        position: relative;
        margin: 0;
        font-size: clamp(3rem, 5vw, 4rem);
        font-weight: 900;
        color: $color-black;
        z-index: 1;
        letter-spacing: .1em;
        overflow: hidden;
        transform: translateY(-20px);


        span {
            color: $color-blue;
        }
    }

    button {
        cursor: pointer;
    }

}
