@import './variables';

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 10vh;
    background-color: $color-white;
    z-index: 1000;
    width: 100%; 

    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: $color-blue;

   

    @include sm {
        width: 100%;
        
    }
    

    > * {
        flex-basis: 100%;
    }

    &__logo {
        
        h1 {
            font-size: 2.5rem;
            font-weight: 1000;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;

        
    }
}

i {
    padding-right: 1rem;
    color: $color-red;
}

.sidebar {
        width: 30vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000;
        background: $color-white;

        @include md {
            width: 100vw;
        }

    &__links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        position: relative;

        @include xl {
            justify-content: flex-start;
            padding: 10rem 0;
        }

        &--x {
            position: absolute;
            font-size: 3rem;
            top: 3%;
            right: 10%;

            i {
                cursor: pointer;
            }
        }

        p {
            font-size: clamp(1rem, 5vw, 1.5rem);
            color: $color-white;
            padding: 1em 2em;
            background: radial-gradient( $color-blue, $color-dark-blue);
            cursor: pointer;
            border-radius: .5rem;
            text-align: center;

            &:hover {
                background: $color-white;
                color: $color-blue;
                outline: 1px solid $color-blue;
            }
        }

        button {
            padding: 1em 3.5em;
            width: 100%;
            font-size: 1.5rem;
            border-radius: .5rem;
            border: none;
            outline: none;
            background: $color-red;
            color: $color-white;
            cursor: pointer;

            &:hover {
                background: $color-white;
                color: $color-red;
                outline: 1px solid $color-red;
            }

        }

        }
    

    &.active {
        animation: active .3s linear;
        left: 0;

    @keyframes active {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }
    }
}
