@import './variables';

.register {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5rem 0;
    width: 80%;
    margin: 0 auto;

    @include md {
        width: 90%;
        padding: 5rem 0;
    }

    @include sm {
        width: 100%;
        padding: 1rem 0;
    }

    &__main {
        display: flex;
        justify-content: center;
        background-color: $color-white;
        height: 50rem;
        width: 75%;
        border: none;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 8px 24px 0px;
        visibility: hidden;
        gap: 3rem;

        
        @include lg{
            width: calc(100% + -1em);
            height: 70rem;
            gap: 3rem;
            padding: 3rem;
        }
       
        @include md {
            width: calc(100% + -3em);
            height: 60rem;
            padding: 5rem;
        }

        @include sm {
            width: 100%;
        }

        >* {
            flex-basis: 100%;

        }

        &--img {

            @include md {
                display: none;
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: .5rem 0 0 .5rem;

            }

        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-top: .5rem;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 2.5rem;
                height: 90%;
            }

            &--input {
                display: flex;
                flex-direction: column;
                padding-right: 8rem;

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                label {
                    font-size: .9rem;
                    font-weight: 600;
                    padding-bottom: .3rem;
                }

                input {
                    display: flex;
                    justify-content: center;
                    height: 4rem;
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    border: 1px solid rgba($color: $color-blue, $alpha: .05);
                    padding: 1rem;


                    &::placeholder {
                        font-size: 1rem;
                    }
                }

            }

            &--account {

                p {
                    font-size: 1rem;
                    font-weight: 300;

                }

                &-sign {
                    color: $color-black;
                    opacity: 1;
                    font-weight: 600;
                    text-decoration: underline;
                }

            }


            &--button {
                padding-right: 8rem;

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                button {
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    font-size: 1.2rem;
                    letter-spacing: .1em;
                    color: $color-white;
                    cursor: pointer;
                    padding: 1.5em 0;
                    background: radial-gradient( $color-blue, $color-dark-blue);

                }

            }
        }
    }
}