@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family:  'Roboto', sans-serif;
    background-color: #fff;
    position: relative;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
  }

footer {
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0%;
    z-index: 10000;
    padding-left: 1rem;
    padding-bottom: 1.5rem;

    i {
        color: $color-black;
    }

    @include sm {
        
        font-size: 1rem;
        
    }
 
}

