@import './variables';

.updatequiz {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5rem auto;
    min-height: 60vh;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 60%;
        border: none;
        padding: 5rem 0;
        gap: 5rem;
        border: 1px solid rgba($color: $color-black, $alpha: .1);
        box-shadow: rgba(0, 0, 0, 0.20) 0px 8px 24px 0px;
        border-radius: 2rem;

        @include md {
            width: 60%;
            padding: 2rem 0;
        }

        @include sm {
            width: 100%;
            padding: 2rem 0;
        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 40%;
            gap: 3rem;

            @include xl {
                width: 80%;
            }

            @include md {
                width: 80%;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 2rem;
                height: 100%;
            }


            &--input {
                display: flex;
                flex-direction: column;

                label {
                    font-size: .8rem;
                    font-weight: 600;
                    padding-bottom: .3rem;
                }

                input {
                    display: flex;
                    justify-content: center;
                    height: 4rem;
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    border: 1px solid rgba($color: $color-blue, $alpha: .05);
                    padding: 1rem;


                    &::placeholder {
                        font-size: 1rem;
                    }
                }

                select {
                    height: 4rem;
                    outline: none;
                    border: none;
                    border: 1px solid rgba($color: $color-blue, $alpha: .05);
                    background: none;
                }

            }

            &--button {

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                button {
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    font-size: 1.2rem;
                    letter-spacing: .1em;
                    color: $color-white;
                    cursor: pointer;
                    padding: 1.5em 0;
                    background: radial-gradient( $color-blue, $color-dark-blue);
                }

            }
        }
    }
}