@import './variables';

.useredit {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5rem 0;
    width: 80%;
    margin: 0 auto;

    @include md {
        width: 90%;
        padding: 5rem 0;
    }

    @include sm {
        width: 100%;
        padding: 5rem 0;
    }

    &__main {
        display: flex;
        justify-content: center;
        background-color: $color-white;
        height: 50rem;
        width: 75%;
        border: none;
        padding: 2rem;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 8px 24px 0px;

        @include sm {
            width: 100%;
        }

        >* {
            flex-basis: 100%;

        }

        &--img {

            @include md {
                display: none;
            }

            img {
                height: 100%;
                max-width: 100%;
                border-radius: .5rem 0 0 .5rem;
                opacity: .8;


            }

        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            height: 100%;
            padding: 1rem 0;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
            }

            &--input {
                display: flex;
                flex-direction: column;
                padding-right: 8rem;

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                label {
                    font-size: .9rem;
                    font-weight: 600;
                    padding-bottom: .3rem;
                }

                input {
                    display: flex;
                    justify-content: center;
                    height: 4rem;
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    border: 1px solid rgba($color: $color-blue, $alpha: .05);
                    padding: 1rem;


                    &::placeholder {
                        font-size: 1rem;
                    }
                }

                &--admin {
                    display: flex;
                    color: $color-red;

                    label {
                        font-size: 2rem;
                        padding-right: 1rem;
                    }
                }

            }

            &--account {

                p {
                    font-size: 1rem;
                    font-weight: 300;

                }

                &-sign {
                    color: $color-black;
                    opacity: 1;
                    font-weight: 600;
                    text-decoration: underline;
                }

            }


            &--button {
                padding-right: 8rem;

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                button {
                    height: 4rem;
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    font-size: 1.2rem;
                    letter-spacing: .1em;
                    color: $color-white;
                    transition: all .4s;
                    cursor: pointer;
                    background-color: $color-blue;
                    transition: background .8s;
                    background-position: center;
                    background-image: radial-gradient(circle, transparent 1%, $color-blue .5%);
                    background-size: 12000%;
                    opacity: .9;

                    &:active {
                        background-color: $color-white;
                        transition: background 0s;
                        background-size: 100%;
                    }

                    &:hover {
                        opacity: 1;
                    }

                }

            }
        }
    }
}